[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate
    p = pull
    s = status
[branch]
    sort = -committerdate
[column]
    ui = auto
[core]
    autocrlf = false
    editor = nvim
    eol = lf
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    tool = nvimdiff
[difftool]
    prompt = false
    trustExitCode = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[merge]
    conflictstyle = zdiff3
    tool = nvim
[mergetool]
    prompt = false
[mergetool "nvim"]
    cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[rebase]
    updateRefs = true
[rerere]
    autoupdate = true
    enabled = true
[tag]
    sort = version:refname
[user]
    email = tim.redband@dunnhumby.com
    name = Tim Redband
