[user]
	name = Tim Redband
	email = tim.redband@dunnhumby.com
[core]
	autocrlf = false
    editor = nvim
	eol = lf
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[merge]
    tool = nvim
[mergetool]
    prompt = false
[mergetool "nvim"]
    cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[fetch]
    all = true
	prune = true
    pruneTags = true
[push]
    autoSetupRemote = true
[pull]
    rebase = true
