[alias]
    s = status
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate
[core]
    autocrlf = false
    editor = nvim
    eol = lf
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
    trustExitCode = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[merge]
    tool = nvim
[mergetool]
    prompt = false
[mergetool "nvim"]
    cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[user]
    name = Tim Redband
    email = tim.redband@dunnhumby.com
